<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="ca/imagerousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/banners/banner.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/banners/banner.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/banners/banner.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>